@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*, button, input{
margin: 0px;
padding: 0px;
box-sizing: border-box;
  
  font-family: 'Roboto', sans-serif;
}

:root{
  --bg-shape-color:linear-gradient(120deg,  #343A4F, #0F1620) ;
 --lightblue: #3D9DEA;
 --darkblue: #4A4EEE;
 --text-color: #D5E1EF;
}